nav{
  background-color: grey;
  padding: 20px;
  opacity: 0.7;
  text-align: center;
  font-size: 1vw;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1{
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: darkblue;
  padding: 20px;
  opacity: 0.7;
  color: whitesmoke;
}

h3{
  color: darkblue;
  text-align: left;
  font-family:"Lucida Console";
}
ul{
  color: navy;
  font-family: "Lucida Console", "Courier New", monospace;
  float: left;
}

body{
  background-color: powderblue;
}

a{
  padding: 8px;
  color: whitesmoke;
  }

p{
  color: navy;
  font-family: "Lucida Console", "Courier New", monospace;
  float: left;
}
img{
  float :right;
}
#Header{
	color: darkblue;
	text-align: left;
	font-family:"Lucida Console";
}
